body{
    background-color: azure;
}

#formCad{
    width: 50%;
}

fieldset{
    border-color: blue;
}

legend{
    color: rgb(11, 22, 136); 
    font-family: Optima, sans-serif; 
    font-size: 25px;
    font-weight: bold;
}

label{
    
    color: rgb(0, 0, 0);
    font-family: Andale Mono, monospace;
    font-size: 20px;

}

input{
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
}

textarea{
    width: 100%;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
}