body{
    text-align: center;
    background-color: rgb(63, 60, 60);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

    
}


img{
    height: 200px;
    width: 200px;
    padding: auto;
    box-shadow: none;
}