body{
    background-color: rgba(131, 101, 145, 0.582);
}
fieldset{
    border-color: white;
}
#formCadClientes{
    width: 50%;
    line-height: 30px;
}
label{
    color: black;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
legend{
    color: black;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    width: 100%;
}
.boxNome{
    width: 50%;
    height: 20px;
}
#boxNumero{
    width: 20%;
    height: 20px;
}
.esquerda{
    float: right;
    margin-right: 50px;
}
textarea{
    width: 100%;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input{
    font-size: 20px;
}

table{
    line-height: 30px;
    border: 1px solid white;
    border-collapse: collapse;
    width: 50%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
th, tr{
    border: 1px solid white;
    border-collapse: collapse;
}